<% if @agent_client.errors.present? %>
	$(".modal-body").html("<%= escape_javascript(render partial: 'form') %>");
	$(".modal-body").append("<%= escape_javascript(render partial: '/agents/form') %>");
<% else %>
	$('.add-agent').hide();
	$('.add-client').hide();
	$(".agent_select").append("<option value='<%= @agent_client.agent_id || @agent.id %>' selected> <%= @agent_client.agent.name || @agent.name %></option>");
	$(".agent_select").attr('disabled', false)
	$(".agent_select").trigger("chosen:updated");
	$(".modal").modal('hide');
<% end %>