<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @appointment.inspector.firstName %>,
      <p>Please find attached appointment sheet.</p>
    Thanks,
    <br/>
    Support Team
  </body>
</html>