<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Commission Rate</h1>
  </div>
  <div class="panel-body">
		<table class='table table-bordered table-striped table-responsive table-hover'>
		  <thead>
		    <tr>
		      <th>Commission Rate Attributes</th>
		      <th>Values</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Title</td>
		      <td><%= @commission_rate.title %></td>
		    </tr>
		    <tr>
		      <td>Scale</td>
		      <td><%= @commission_rate.scale %></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>