<div class="row">
  <div class="col-md-6">
    <%= bid.input :costRepair, label: "Repair Cost" %>
  </div>
  <div class="col-md-6">
    <%= bid.input :feeSeismicUpg, label: "Seismic Upgrade Fee" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= bid.input :feeAdmin, label: "Administration Fee" %>
  </div>
</div>
<p><%= bid.link_to_remove "Remove Bid", class: "btn btn-info" %></p>
<fieldset><legend></legend></fieldset>