<%= f.error_notification %>
<div class="row">
	<div class="form-group">
		<div class="col-sm-6">
			<%= f.input :first_name %>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<div class="col-sm-6">
			<%= f.input :last_name %>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<div class="col-sm-6">
			<%= f.input :email, required: true, autofocus: true %>
		</div>
	</div>
</div>