<div class="userlist">
 <h1> Users List </h1>
  <ul class="nav nav-tabs" id="user_tabs">
    <li class="active pending"><a data-toggle="tab" href="#pending">Pending</a></li>
    <li class="approved"><a data-toggle="tab" href="#approved">Approved</a></li>
    <li class="rejected"><a data-toggle="tab" href="#rejected">Rejected</a></li>
  </ul>
  <div class="tab-content">
    <div id="pending" class="tab-pane fade in active">
      <%= render partial: 'users', locals: {type: "pending"} %>
    </div>
    <div id="approved" class="tab-pane fade">
      <%= render partial: 'users', locals: {type: "approved"} %>
    </div>
    <div id="rejected" class="tab-pane fade">
      <%= render partial: 'users', locals: {type: "rejected"} %>
    </div>
  </div>
</div>


