<div>
 <h1> Users List </h1>
  <ul class="nav nav-tabs">
    <li class="active pending"><a href="#pending">Pending</a></li>
    <li><a class = "approved" href="#approved">Approved</a></li>
    <li><a class = "rejected" href="#rejected">Rejected</a></li>
  </ul>

  <div class = "userlist">
    <%= render 'index' %>
  </div>

 <!--  <div class="tab-content">
    <div id="pending" class="tab-pane fade in active">
      <%#= render 'index' %>
    </div>
    <div id="approved" class="tab-pane fade">
      <%#= render 'index' %>
    </div>
    <div id="rejected" class="tab-pane fade">
      <%#= render 'index' %>
    </div>
  </div> -->
</div>

<script>
$(document).ready(function(){
  $('tr').hide();
  $(".pending").show();
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
    var active = $('.nav-tabs .active').text().toLowerCase();
    $('tr').hide();
    $('.' + active).show();
  });
});
</script>


