// $('.userlist').innerHTML = "hi"
$('.userlist').html("<%= escape_javascript(render 'users/index') %>");
var active = $('.nav-tabs .active').text().toLowerCase();
$('tr').hide();
$('.' + active).show();

// $('.userlist').prepend('<div class="alert alert-success"><a class="close" data-dismiss="alert" href="#">×</a>Updated Successfully</div>');
// setTimeout(function(){ $('.alert-success').fadeOut() }, 5000)