<% if @property.errors.present? %>
	$(".modal-title").html("New Property");
	$(".modal-body").html("<%= escape_javascript(render partial: 'form') %>")
<% else %>
	$('.add-client').show()
	$(".property_select").append("<option value='<%= @property.id %>' selected> <%= @property.property_select_value %></option>");
	$(".property_select").trigger("chosen:updated");
	$(".modal").modal('hide');
<% end %>