<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Property</h1>
  </div>
  <div class="panel-body">
    <%= render 'property' %>
  </div>
</div>
<%= link_to 'Edit', edit_property_path(@property), class: 'btn btn-info' %>
<%= link_to 'Back', properties_path, class: 'btn btn-info' %>
