<% if @client.errors.present? %>
	$(".modal-body").html("<%= escape_javascript(render partial: 'form') %>")
	$(".modal-title").html("New Client");
<% else %>
	$('.add-agent').show()
	$('.add-client').hide()
	$(".client_select").append("<option value='<%= @client.id %>' selected> <%= @client.name %></option>");
	$(".client_select").attr('disabled', false)
	$(".client_select").trigger("chosen:updated");
	$(".modal").modal('hide');
<% end %>