<% if @agent.errors.present? %>
	$(".modal-body").html("<%= escape_javascript(render partial: 'form') %>")
	$(".modal-title").html("New Agent");
<% else %>
	$('.add-agent').hide()
	$(".agent_select").append("<option value='<%= @agent.id %>' selected> <%= @agent.firstName %></option>");
	$(".agent_select").attr('disabled', false)
	$(".agent_select").trigger("chosen:updated");
	$(".modal").modal('hide');
<% end %>