<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Representative</h1>
  </div>
  <div class="panel-body">
    <%= render 'agent' %>
  </div>
</div>

<%= link_to 'Edit', edit_agent_path(@agent), class: 'btn btn-info' %>
<%= link_to 'Back', agents_path, class: 'btn btn-info' %>