<p>Hello <%= @user.email %>!</p>

<p>You have been registered by the admin into the Foundation Request Appliction.
  </p>
<p>Please find the below login details to login into the application</p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Password:</strong> <%= @user.password %></p>
<p>You can the update the password by visiting the link below.</p>
<p><%= link_to "Change your password", edit_user_registration_url %></p>
<p>Your password won't change until you access the link above and create a new one.</p>

<br> <br> <br>
Thanks and regards, <br>
FIRM Team.