<div class="row form-group">
	<div class="col-md-3">
	<%= label_tag "Projects"%>
		<%= select_tag "project_id", options_for_select(@projects, params[:project_id]), class: "form-control project_select", prompt: "Select Project" %>
	</div>
</div>
<div class="project_payment_schedules">
	<%= render partial: "project_payment_schedules/form" if params[:project_id] %>
</div>
<script type="text/javascript">
	$(".project_select").change(function(){
		var projectId = $(this).val();
		if(projectId != ""){
			$.ajax({
				url: "/project_payment_schedules/load_project_payment_schedules",
				method: "GET",
				data: { project_id: projectId }
			});			
		}
		else{
			alert("Select Project");
			$(".project_payment_schedules").html("")
		}
	});
</script>