$("#new_insp_request").removeClass('has-error');
$('.client_select').empty();
$('.client_select').html("<option>Select Customer</option><%= escape_javascript(options_for_select(@clients)) %>");
<% if @clients.present? %>
	$(".client_select").attr('disabled', false)
	$(".agent_select").attr('disabled', false)
<% else %>
	$(".add-client").show();
	$(".client_select").attr('disabled', true)
<% end %>
$(".client_select").trigger("chosen:updated");