/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'bootstrap-datepicker';
@import 'bootstrap-timepicker';
@import "font-awesome";
@import "fullcalendar";

#login-wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -159px;
  margin-left: -235px;
  padding: 25px;
  width: 480px;
  height: 320px;
  background: white;
  text-align: center;
  opacity: 0.9;
}
user agent stylesheetdiv {
  display: block;
}
.login-form legend {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}
#login-wraper h1 {
  text-align: center;
  font-weight: 700;
  margin: 5px 0 15px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.background {
	background: url('/assets/building.png');
	background-size: cover;
}
footer {
  background: none repeat scroll 0 0 #111111;
  height: 55px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.height{
	height: 500px;
}
#login-wraper .formSubmit {
  margin-bottom: 25px;
}