// Place all the styles related to the inspRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plus-sign {
  margin-top: 30px;
  display: inline-block;
}
.link{
	text-decoration: underline;
	color: #31708f;
}