<div>
	<div class="datepicker"></div>
	<div class="full-calendar"></div>
</div>
<div class="modal" tabindex="-1" role="dialog" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	    <div class="modal-header">
	      <h4 class="modal-title" id="exampleModalLabel">Inspector's Calendar</h4>
	    </div>
	    <div class="modal-body">
	    	<%= render 'schedule_inspection' %>
	    </div>
	  </div>
	  </div>
</div>
<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
			daysOfWeekDisabled: [0,6]
    });
  	$('.datepicker').on('changeDate', function (dateText) {
		  $('.full-calendar').fullCalendar('gotoDate',new Date(Date.parse(dateText.date)));
		  var defaultView = $('.full-calendar').fullCalendar('getView').name;
      $('.full-calendar').fullCalendar("changeView", defaultView);
      var data = dateText.date;
      $.ajax({
        type: "GET",
        url: "/appointments/get_scheduled_appointments",
        data: { date: data, view_type: defaultView},
        dataType: 'JSON',
        success: function(result){
					$('.full-calendar').fullCalendar('removeEvents');
					$('.full-calendar').fullCalendar('addEventSource', result );
        }
      });
		});
  })
		
	$('.full-calendar').fullCalendar({
	  header: {
				left: '',
				center: 'title',
				right: 'month, agendaWeek, agendaDay'
			},
		defaultView: 'month',
		editable: true,
		weekends: false,
		selectable: true,
		selectHelper: true,
		allDaySlot: false,
		eventSources: [{
			url: "/appointments",
	  }],
	  select: function(start, end) {
    	$('.modal').modal('show');
    }
	});
</script>