<div>
	<div class="datepicker"></div>
	<div class="full-calendar"></div>
</div>
<div class="modal" tabindex="-1" role="dialog" data-keyboard="false"></div>
<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
			daysOfWeekDisabled: [0,6]
    });
  	$('.datepicker').on('changeDate', function (dateText) {
		  $('.full-calendar').fullCalendar('gotoDate',new Date(Date.parse(dateText.date)));
		  var defaultView = $('.full-calendar').fullCalendar('getView').name;
      $('.full-calendar').fullCalendar("changeView", defaultView);
      var data = dateText.date;
      $.ajax({
        type: "GET",
        url: "/appointments/get_scheduled_appointments",
        data: { date: data, view_type: defaultView},
        dataType: 'JSON',
        success: function(result){
					$('.full-calendar').fullCalendar('removeEvents');
					$('.full-calendar').fullCalendar('addEventSource', result );
        }
      });
		});
  })
		
	$('.full-calendar').fullCalendar({
	  header: {
				left: '',
				center: 'title',
				right: 'month, agendaWeek, agendaDay'
			},
		defaultView: 'month',
		editable: true,
		weekends: false,
		selectable: true,
		selectHelper: true,
		allDaySlot: false,
		minTime: '9:00',
    maxTime: '18:00',
    fixedWeekCount: false,
    height: 'auto',
    firstDay:1,
    eventSources: [{
			url: "/appointments",
	  }],
	  eventClick: function(cal_event, js_event, view){
			calendar_event_clicked(cal_event, js_event, view);
		},
	  select: function(start, end, jsEvent, view) {
			$('.modal').html('<%= escape_javascript(render partial: "schedule_inspection") %>');
			$(".start_date").val(start.format("YYYY-MM-DD"));
			$(".end_date").val(start.format("YYYY-MM-DD"));
			$(".modal").modal('show');
    }
	});

	function calendar_event_clicked(cal_event, js_event, view){
		$.ajax({
			type: "GET",
      url: "/appointments/" + cal_event.id + "/edit.js"
		});
	}
</script>