<h1>Listing Bids Follow Up</h1>
<%= render partial: 'comm_histories' %>
<br>
<%= link_to raw("<i class='fa fa-plus-square-o'></i> New Bids Follow Up"), new_comm_history_path, :class => "btn btn-info" %>
