<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Property</h1>
  </div>
  <div class="panel-body">
    <%= render 'pay_plan' %>
  </div>
</div>
<%= link_to 'Back', pay_plans_path, class: 'btn btn-info' %>